div.row div{
    width: 20px;
    height: 20px;
    border:1px solid black;
    display: inline-block;
}
div.brick{
    background-color: blue;
}
div.coin{
    background: url('images/coin.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px;
}
body{
    background-color: black;
}
#pacman{
    background: url('images/pac.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 23px;
    height: 23px;
    position: absolute;
}